body{
    width: 75%;
    color: rgb(255, 230, 0);
    font-size: 30px;
    background-color: rgb(177, 192, 192);
    font-family: 'Josefin Sans', sans-serif;
    
}

form{
    width: 35%;
    background-color: teal;
    padding: 20px;
    /* box-shadow: blue 50px; */
}

h1{
    padding-left: 20px;
    color: blue;
}

.results{
    display: none;
}

.number1, .number2{
    font-weight: 600;
    color: seagreen;
}

.buttons{
    padding: 20px;
    font-size: 40px;
}